body ,html
{
    height: 100%;
    margin: 0 ;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.8em;
}



.image1
{
    background-image: url('../rocket-ship.jpg');
    min-height: 100%;
}
.image2
{
    background-image: url('../chemistry-laboratory-woman-pipettes-test-tubes-chemistry-laboratory-woman-pipettes-114782620.jpg');
    min-height: 400px;
}
.image3
{
    background-image: url('../tech.jpg');
    min-height: 400px;
}

.image1,.image2,.image3
{
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section
{
    text-align: center;
    padding: 40px , 80px ;
}


.text1
{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 37px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.text1 .border
{
    background-color: rgba(211, 255, 101, 0.984) ;
    border-width: 10px;
    color: #000;
    padding: 20px; 
}

.section1,.section2,.section3
{
    text-align: center;
}

.texti
{
    top: 5%;
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 30px;
    color: white;
    
}

